body {
  font-family: Georgia;
}

ul.li {
  list-style-type: circle;
}

main {
  background-color: rgba(151, 247, 247, 0.397);
  padding-bottom: 4em;
  padding-top: 2em;
}

.box {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  margin-bottom: 3em;
}

main li {
  font-size: 18px;
  margin-left: 25px;
  width: 90%;
  max-width: 95%;
  margin: 35px auto;
}

.bullet::before {
  list-style-type: circle !important;
  content: "\2022";
  color: rgb(63, 63, 63);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

p {
  font-size: 18px;
  display: block;
  width: 95%;
  max-width: 100%;
  margin: 30px auto;
}


.social-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container a {
  color: #ffff;
  font-size: 35px;
  margin: 0px 20px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black;
}

.row {
  width: 90%;
  max-width: 80%;
  margin: 30px auto;
}

.external-link {
  color: rgb(63, 63, 63);
}